dataprep==0.4.5
numpy==1.23.3
pandas==1.5.2
scikit-learn==1.1.2
matplotlib==3.6.0
dataprep==0.4.5
typing==3.10.0.0
hydra-core==1.2.0
DataSynthesizer==0.1.11
dataclasses==0.8
airflow==2.3.3
docker-py==4.4.1
